# 環境変数・機密情報
.env
.env.*
!.env.example

# 仮想環境
.venv/
env/
venv/
ENV/

# Python キャッシュ・バイトコード
__pycache__/
*.py[cod]
*$py.class

# OS / エディタ固有ファイル
.DS_Store
Thumbs.db
.vscode/
.idea
*.sqlite

# YouTube Music API 認証トークン
*.json
browser.json
oauth.json
headers_auth.json